<%- include('partials/header') %>
    <title>Document</title>
</head>
<body>
    <h1>tell me your secrets now or its gonna be last time you are gonna see your family</h1>

<a href="/register">Sign up</a>
<a href="/login">Log in</a>

<%- include('partials/footer') %>
