<%- include('partials/header') %>
<title>Document</title>
</head>
<body>
    <form action="/login" method="POST">
        <input type="email" name="username" placeholder="enter you r password">
        <input type="password" name="password" placeholder="yur passwor💀">
        <button type="submit">Log in💀</button>
    </form>
<%- include('partials/footer') %>
