<%- include('partials/header') %>
<title>Document</title>
</head>
<body>
    <h1>I forgor 💀</h1>
    <form action="/register" method="POST">
        <input type="email" name="username" placeholder="enter you r password">
        <input type="password" name="password" placeholder="yur passwor💀">
        <button type="submit">Sign up💀</button>
    </form>
<%- include('partials/footer') %>
